.app {
  padding: 20px;
  font-size: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: #61dafb;
}

.logo {
  display: block;
  width: auto;
  height: 50vh;
}
